body {
  font-family: 'Cinzel', serif;
  font-weight: bolder;
  background-color: #E8F9FD;
  color: #0b379c;
}

p {
  font-size: larger;
}

section:before { 
  display: block; 
  content: " "; 
  margin-top: -60px; 
  height: 60px; 
  visibility: hidden; 
}

.navbar {
  background-color: rgb(232, 249, 253, 0.75);
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  padding: 0 1rem;
  margin-left: .25rem;
}

.navbar-collapse {
  margin-right: 1.5rem;
}

.nav-link {
  font-size: 1.25rem;
}

.navbar-brand, .nav-link {
  color: #0b379c;
}

.navbar-toggler {
  border-color: #0b379c;
  margin-right: 2rem;
}

.navbar-toggler:focus {
  color: #0b379c;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(11, 55, 156)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: rgb(11, 55, 156, 0.75);
  border-radius: 50%;
}

.carousel-caption {
  right: 40%;
  left: 40%;
  padding-top: .25rem;
  padding-bottom: .25rem;
  background-color: rgb(232, 249, 253, 0.75);
  border-radius: 50%;
  color: #0b379c;
}

.carousel-indicators [data-bs-target] {
  background-color: #0b379c;
}

h3 {
  text-align: center;
  color: #0b379c;
}

.bio {
  background-color: #a5effa;
  border-radius: 2%;
  padding: 1rem;
}

.gallery {
  object-fit: cover;
  height: 400px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #0b379c;
  padding: 10px 0;
  height: 150px;
  font-size: x-large;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: relative;
  bottom: 11.5rem;
  left: 85vw;
  color: #E8F9FD;
  border-radius: 50%;
  font-size: 80px;
  font-weight: bolder;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #E8F9FD;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}